@page "/"
@*ТЕЛЕФОНЧЕТА*@
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal" style="font-weight: 600">Dre6nik</h1>
        <div class="lead fw-normal">Българският сайт за <b>качествени, маркови дрехи</b>, огромен избор, <b>изобилие от марки и модели</b> и <b>цени невиждани досега</b></div>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>


@*МАРКИ*@
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-2">
        <h1 class="display-5" style="font-weight: 200">Топ марки, продавани от нас: </h1>
    </div>
    <div class="top-brands">
        <img class="image-card perspective-left" src="images/top-brands/guess.png" alt="Guess" width="256px" height="94px " />
        <img class="image-card perspective-right " src="images/top-brands/adidas.png" alt="Adidas" width="256px" height="94px" />
        <img class="image-card perspective-left" src="images/top-brands/liu-jo.png" alt="Liu-Jo" width="256px" height="94px" />
        <img class="image-card perspective-right" src="images/top-brands/puma.png" alt="Puma" width="256px" height="94px" />
        <img class="image-card perspective-left" src="images/top-brands/tommy-hilfiger.png" alt="Tommy-Hilfiger" width="256px" height="94px" />
    </div>
</div>

@*Подаръци*@
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="background-color: #034136">
    <div class="col-md-3" style="color: white">
        <h1 style="font-weight: 500">Подаръци за теб и твоите близки </h1>
    </div>
    <div class="gifts-section">
        <div class="gifts-section-button">
            <a href="">Разгледай</a>
        </div>
        <div class="gifts-section-poster2">
            <img src="images/top-brands/woman-poster.jpg" alt="Woman" width="600" height="400" />
        </div>
        <div class="gifts-section-poster1">
            <img src="images/top-brands/woman-man-poster.jpg" alt="Woman-Man" width="400" height="400" />
        </div>
    </div>
</div>

@*FOOTER*@
<div class="position-relative overflow-hidden modal-footer bg-light">
    <div class="footer-top">
        <p>Присъединете се към нас : </p>
    </div>
</div>
